@model FurntureWebAPP_ASP_NET_CORE_MVC.Models.UserTbl

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Back to login</a>
</div>









@* <section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">create an account</h2>

                            <form asp-action="register">

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3example1cg" class="form-control form-control-lg" asp-for="UserName" />
                                    <label class="form-label" for="form3example1cg" asp-for="UserName">user name</label>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" id="form3example3cg" class="form-control form-control-lg" asp-for="UserEmail" />
                                    <label class="form-label" for="form3example3cg" asp-for="UserEmail">your email</label>
                                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3example4cg" class="form-control form-control-lg" asp-for="Password" />
                                    <label class="form-label" for="form3example4cg" asp-for="Password">password</label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3example4cdg" class="form-control form-control-lg" asp-for="ConfirmPassword" />
                                    <label class="form-label" for="form3example4cdg" asp-for="ConfirmPassword">repeat your password</label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2example3cg" />
                                    <label class="form-check-label" for="form2example3g">
                                        i agree all statements in <a href="#!" class="text-body"><u>terms of service</u></a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="button"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        register
                                    </button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    have already an account? <a 
                                                                class="fw-bold text-body" asp-action="login"><u>login here</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@